<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weatherapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DataViewJeju"></activity>
        <activity android:name=".DataViewUlsan" />
        <activity android:name=".DataViewBusan" />
        <activity android:name=".DataViewJeonnam" />
        <activity android:name=".DataViewJeonbuk" />
        <activity android:name=".DataViewGyeongbuk" />
        <activity android:name=".DataViewDaegu" />
        <activity android:name=".DataViewDaejeon" />
        <activity android:name=".DataViewChungnam" />
        <activity android:name=".DataViewChungbuk" />
        <activity android:name=".DataViewIncheon" />
        <activity android:name=".DataViewSeoul" />
        <activity android:name=".DataViewGyeongnam" />
        <activity android:name=".DataViewGyeonggi" />
        <activity android:name=".DataViewKorea" />
        <activity android:name=".DataViewGangwon" />
        <activity android:name=".DataViewGwangju" />

        <service
            android:name=".GpsService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".WeatherUrlParser"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ClothesRecommendationActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AirPollutionDetailInfoActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RealTimeWeather"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>